.search{
    border: none;
    padding: 15px;
    width: 250px;
    border: 1px solid #120136;
    margin: 15px;
    font-family: "Press Start 2P",cursive;
}

@media (max-width:500px){
    .search{
        width:200px
    }
}